body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    margin: 2rem auto 0 auto;
    font-family: 'Kalam', cursive;
    ;
    font-size: 5rem;
    font-weight: normal;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
}

hr {
    border: 3px dotted;
    border-bottom: none;
    margin-left: 20rem;
    margin-right: 20rem;
    color: ##11999E;
}

.zaczelam {
    padding-bottom: 2rem;
}

.computer {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.quartet {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 70px auto 90px auto;
    text-align: left;
    line-height: 2;
}

.profile-pict {
    width: 15%;
    padding-top: 1.5rem;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #EAF6F6;
}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 0.8rem;
}

.skills {
    padding-top: 1rem;
}

.contact-me {
    padding-top: 1rem;
}

.bottom-cloud {
    position: relative;
    left: 10px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

button {
    box-sizing: border-box;
    height: 2rem;
    color: #fff;
    background-color: #00abf3;
    position: relative;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.2rem;
    margin: 2rem auto 2rem auto;
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: 1rem;
}

.btn {
    color: #fff;
    padding: inherit;
    text-decoration: none;
}
